POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=horizonteAzul
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
DATABASE_URL=postgresql://user:pass@postgres:5432/horizonteAzul

JWT_SECRET=
GROQ_API_KEY=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_
STRIPE_SECRET_KEY=sk_

RESEND_API_KEY=re_
EMAIL_FROM=
NEXT_PUBLIC_APP_URL=https://horizonte-azul-sand.vercel.app
NEXT_PUBLIC_APP_NAME=