@import "tailwindcss";

@theme {
  /* Tailwind detectará estos colores y creará clases como text-primario, bg-primario, etc. */
  --color-primario: #5271ff;
  --color-secundario: #3147cc;
  --color-texto: #1f2937;
  --color-fondo: #f4f5fa;
  --color-iconos: #fde047;
  --color-acento: #aab8ff;
  --color-otro: #4dd2ff;
  --color-rojo: #d13264;
  --color-verde: #3ba054;
  --color-naranja: #ed6b53;
  --color-gris: #9ca3af;

  /* Definir la fuente dentro del tema para usar font-playfair */
  --font-lato: "Lato", sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  /* Aplicamos Lato como fuente global */
  font-family: "Lato", sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}